.col{
	width: 250px;
	height: 250px;
	border-radius: 60%;
	float: left;
	text-align: center;
	margin-left: 4%;
	box-sizing: border-box;
	padding-top: 8%;
}
.forms {
	clear: both;
}
.forms{
	margin-top: 15%;
	margin-left: 25%;
	padding-top: 8%;
}
.circlea{
	background-color: #C10028;
	border: 2px solid #C10028;
}
.circleb{
	background-color: #072E3B;
	border: 2px solid #072E3B;
}
.circlec{
	background-color: green;
	border: 2px solid green;
}
.bot{
	width: 300px;
	height: 20px;
	margin-left: 4%;
	margin-top: 3%;
}
.bordeRojo{
	border: 10px solid yellow;
}
.bordeAzul{
	border: 10px solid yellow;
}
.bordeVerde{
	border: 10px solid yellow;
}